html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    background-color: rgb(255, 249, 241);
    height: 100%;
    margin: 0;
}

.title {
    align-self: center;
    font-size: 50px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.drawing-board {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.318);
}

.square {
    margin: 0;
    flex: 0 0 auto;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px;
    margin-bottom: 7px;
    margin-top: 7px;
    border: 2px solid rgba(0, 0, 0, 0.203);
    background-color: beige;
    border-radius: 10px;
    padding: 12px;
    width: 250px;
}

.checkbox>p{
    margin-left: 12px;
    font-family: sans-serif;
    font-size: 16px;
}

input[type='checkbox']{
    width: 0;
    height: 0;
    visibility: hidden;
}

label {
    width: 90px;
    height: 40px;
    display: block;
    background-color: rgb(200, 200, 200);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}

label::after{
    content: '';
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 500px;
    transition: 0.5s;
    position: absolute;
    top: 5px;
    left: 5px;
}

input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
    }

input:checked + label {
    background-color: #23cef0;
}

label:active:after {
    width: 50px;
}

button {
    margin-top: 15px;
    border: 0;
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.203);
    font-family: sans-serif;
    font-size: 16px;
}

button:hover {
    background-color: rgb(206, 206, 175);
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    padding-left: 40px;
}

.right-container {
    justify-self: center;
}

.for-centering {
    width: 370px;
}

.chosen-color {
    outline: none;
    padding: 0;
    border: 0;
    height:40px;
    width: 40px;
    transition: 0.5s;
}

.chosen-color:hover {
    transform: scale(1.2);
}

::-webkit-color-swatch,
::-moz-color-swatch {
    border-color: transparent;
}

.footer{
    font-family: sans-serif;
    font-size: 14px;
    align-self: center;
    margin-top: auto;
    margin-bottom: 4px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-size {
    margin: 0;
}