body {
    display: flex;
    flex-direction: column;
}

.drawing-board {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.318);
}

.square {
    margin: 0;
    flex: 0 0 auto;
}

.checkbox {
    display: flex;
    align-items: center;
}

